/myai

.env

/Meta-Llama-3-8B

/__pycache__

/Meta-Llama

/z_diplo_maria

/olds

__pycache__

/downloads

/resources/downloads

/tests2

tests/downloads

# Completed files folder
resources\summary_agent\completed*
!completed/.gitkeep

# Incomplete/In-progress files
incompleted/*
!incompleted/.gitkeep

# Input files folder
input/*
!input/.gitkeep